body {
  background-color: beige;
}

.par {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 200px;
  aspect-ratio: 1;
  padding: 4px;

  display: flex;


  background-color: blueviolet;
}

.ch {
  width: calc(100% /8);
  aspect-ratio: 1;
  background-color: black;
}