*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 12px;
  background-color: beige;
}

.par {
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 100%;
  aspect-ratio: 1;
  padding: 4px;

  display: flex;
  flex-wrap: wrap;


  background-color: blueviolet;
}

.ch {
  width: calc(100% /8);
  aspect-ratio: 1;
  padding: 4px;
  
}
.x{
  background-color: burlywood;
}
.y{
  background-color: cadetblue;
}